@media (max-width: 1349px) {
    .projects-wrapper {
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .main__slider-btn {
        top: 49%;
    }
}

@media (max-width: 1154px) {
        .license-item__content {
            width: 100%;
        }
    }

@media (max-width: 1100px) {
   .about-img {
       display: none;
   }

   .about-wrapper__img img:nth-child(2) {
        position: absolute;
        top: -296px;
        left: -139px;
        right: 33%;
        z-index: 2;
       
    }

    .about-item {
        padding-right: 0px;
    }

    .about-inner__img {
        display: none;
    }

    .section-about::before {
        top: 0; 
    }

    .consult {
        flex-direction: column-reverse;
        align-items: center;
    }

    .consult-item {
        width: 100%;
    }

    .consult--second {
        padding-left: 0px;
        margin-bottom: 70px;
    }

    .projects-wrapper__item {
        margin-bottom: 100px;
    }

  
}



@media (max-width: 950px) {

    .scroll-x {
        overflow-x: scroll;
    }

    .mobile-overflow {
        width: 1000px;
    }

    .project-conentent__page {
        margin: 0;
    }
}

@media (max-width: 890px) {
    .main__slider-btn {
        top: 48%;
    }


}

@media (max-width: 768px) {

    body.lock {
        overflow: hidden;
    }

    .nav-list {
        display: none;
    }

    .main-slider .slick-dots {
        display: flex;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .main-slider .slick-dots li button {
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: #FFCC00;
        border-radius: 50%;
        margin: 0 5px;
        outline: none;
        border: none;
    }

    .main-slider .slick-slide img {
        
        height: 50vh;
    }

    .main-slider .slick-dots li.slick-active button {
        background-color: #ffcf767e; 
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: none;
    }

    .about-wrapper__img img:nth-child(2) {
      
        opacity: 0.7;
    }

    .services {
        margin-top: 50px;
        justify-content: center;
    }

    .services--page {
        padding-top: 0px;
    }

    .license-item__content {
        padding-right: 0;
    }

    .burger {
        display: block;  
    }

    .nav-list.active {
        top: 83px;
    }

    .header-transparent.active {
        background-color: black;
    }

    .nav-list {
        display: block;
        color: #fff;
        position: fixed;
        top: -100%;
        right: 0%;
        z-index: 2;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all .5s;
    }
    
    .nav-list__item {
        padding: 15px 15px 15px 15px;
        border-bottom: 1px solid rgba(50, 50, 50, 0.5);
        margin-left: 0;
        text-align: center;
        background-color: #000000;
        transition: all .3s;

    }

    .project--page {
        margin: 0;
    }

    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 15vw);
        grid-gap: 15px;
        padding: 0 15%;
    }

    .project-gallery__item--1 {
        grid-column: 1;
        grid-row: 1/3;
    }
    
    .project-gallery__item--2 {
        grid-column: 2;
        grid-row: 1/3;
    }
    
    .project-gallery__item--3 {
        grid-column: 1;
        grid-row: 3/5;
    }
    
    .project-gallery__item--4 {
        grid-column: 2;
        grid-row: 3/5;
    }
    
    .project-gallery__item--5 {
        grid-column: 1;
        grid-row: 5/7;
    }
    
    .project-gallery__item--6 {
        grid-column: 2;
        grid-row: 5/7;
    }
    
    .project-gallery__item--7 {
        grid-column: 1;
        grid-row: 7/9;
    }
    
    .project-gallery__item--8 {
        grid-column: 2;
        grid-row: 7/9;
    }
    
    .project-gallery__item--9{
        grid-column: 1;
        grid-row: 9/11;
    }
    
    .project-gallery__item--10{
        grid-column: 2;
        grid-row: 9/11;
    }
}

@media (max-width: 640px) {


    .project-content {
        width: 366px;
        height: 275px;
        margin-right: 20px;
    }

    .project-slider .slick-slide img {
        width: 366px;
    }

    .project-content__text {
        font-size: 14px;
        width: 323px;
    }

    .license-item__content {
        min-width: 0;
    }

    .footer-inner {
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 50px;
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .project--page {
        margin: 0;
    }

    .projects-wrapper__item {
        margin-bottom: 60px;
    }
 }

 @media (max-width: 558px) {
    .clients-slider .slick-slide img {
        border: 1px solid;
        width: 100%;
        object-fit: cover;
    }

    .project-gallery {
        grid-template-columns: (2, 1fr);
        grid-template-rows: repeat(12, 19vw);
        grid-gap: 15px;
        padding: 0 10%;
    }

    .project-gallery__item--1 {
        grid-column: 1/3;
        grid-row: 1/4;
    }
    
    .project-gallery__item--2 {
        grid-column: 1/3;
        grid-row: 4/7;
    }
    
    .project-gallery__item--3 {
        grid-column: 1/3;
        grid-row: 7/10;
    }
    
    .project-gallery__item--4 {
        grid-column: 1/3;
        grid-row: 10/13;
    }
    
    .project-gallery__item--5 {
        grid-column: 1/3;
        grid-row: 13/16;
    }
    
    .project-gallery__item--6 {
        grid-column: 1/3;
        grid-row: 16/19;
    }
    
    .project-gallery__item--7 {
        grid-column: 1/3;
        grid-row: 19/22;
    }
    
    .project-gallery__item--8 {
        grid-column: 1/3;
        grid-row: 22/25;
    }
    
    .project-gallery__item--9{
        grid-column: 1/3;
        grid-row: 25/28;
    }
    
    .project-gallery__item--10{
        grid-column: 1/3;
        grid-row: 28/31;
    }
 }

 @media (max-width: 480px) {
    .about-info {
        text-align: center;
    }

    .services-item {
        width: 31%;
        height: 67px;
    }

    .services-item__inner {
        width: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 10px;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        text-align: center;
    }

    .service-item__title {
        width: 100%;
        font-size: 15px;
        padding-top: 0px;
    }

    .services-item__inner-hover {
        padding: 0px 10px; 
        height: 100%;
    }
    .services-btn {
        margin-top: 10px;
        padding: 13px 26px;
    }

    .services-item__icon {
        width: 80px;
    }
 }

@media (max-width: 414px) {
    .title {
        font-size: 35px;
    }

    .main-slider .slick-dots li button {
        width: 12px;
        height: 12px;
    }

    .main-slider .slick-dots li.slick-active button {
        width: 12px;
        height: 12px;
    }

    .project-content {
        width: 328px;
        height: 242px;
        margin-right: 20px;
    }

    .project-slider .slick-slide img {
        width: 323px;
    }

    .project-content__text {
        font-size: 14px;
        width: 292px;
    }

    .slider__item-title {
        font-size: 15px;
        margin-top: 15px;
    }

    .project-slider {
        padding-bottom: 60px;
    }

    .project--page {
        margin: 0;
    }

    .section-clients {
         padding-top: 0px;
    }

    .projects-content {
        margin-right: 14px;
        margin-left: 0px;
    }
}


@media (max-width: 375px) {
   .about-info {
       margin-top: 100px;
   }
   .project-content {
        width: 300px;
        height: 225px;
        margin-right: 5px;
    }

    .project-slider .slick-slide img {
        width: 290px;
    }

    .project-content__text {
        font-size: 13px;
        width: 255px;
    }

    .project-content__hover {
        padding: 25px 15px;
    }
    
    .slider__item-title {
        font-size: 15px;
        margin-top: 15px;
    }

    .project-content__text {
        padding-bottom: 15px;
    }

    .project--page {
        margin: 0;
    }

    .projects-content {
        margin-right: 0px;
        margin-left: 17px;
    }
    .sliders__item-title {
        margin-left: 18px;
    }
    .about-info__btn {
        padding: 20px 87px;
    }

    .about-info__btn::before {
        width: 271px;
    }
}

@media (max-width: 320px) {
  
   

    .project-content {
        width: 295px;
        height: 225px;
        margin-right: -11px;
        margin-left: 15px;
    }

    .project-slider .slick-slide img {
        width: 277px;
        margin-right: 20px;
    }

    .project-content__hover {
        padding: 20px 15px;
    }

    .slider__item-title {
        margin-left: 16px;
    }

    .question--btn {
        padding: 20px 26px;
    }

    .project--page {
        margin: 0;
    }
   
    .project--page__title {
        margin-left: 0;
    }

    .projects-content {
        position: relative;
        width: 260px;
        height: 244px;
    }

    .projects-content {
        margin-right: 0px;
        margin-left: 18px;
    }

    .projects-slider .slick-slide img {
        width: 260px;
        height: 240px;
    }

    .projects-content__text {
        padding-bottom: 30px;
        font-size: 13px;
        line-height: 19px;
    }

    .projects-content__hover {
        padding: 22px 8px;
    }

    .sliders__item-title {
        font-size: 16px;
        line-height: 21px;
        margin-top: 20px;
    }
 }