.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    width: 163px;
    height: 39px;
    color: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    padding: 0 20px;
    border-radius: 5px;
}


