@media (max-width: 1031px) {

    .header {
        border-radius: 0px 0px 20px 20px;
        position: absolute;
        padding: 10px 0;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 4;
    }

    .header-middle {
        padding-top: 11px;
        margin: 0 20px;
    }

    .header-logo {
        position: absolute;
        left: 50%;
        top: 25px;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .header-top {
        display: none;
    }

    .header-bottom {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .header-top__geolocation {
        margin-left: 20px;
    }

    .header-top__links {
        margin-top: 24px;
    }

    .top-links__list {
        flex-direction: column;
        margin-right: 0;
    }

    .top-links__list-item {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .search-button.active .search-input {
        display: block;
    }

    .search-input {
       display: block;
    }

    .search-input__mobile {
        width: 100%;
       
        padding: 15px 0;
    }

    .search-wrapper {
        display: none;
    }

    .search-button__mobile {
        left: 54px;
        top: 10px;
        width: 34px;
        height: 30px;
        display: block;
        position: absolute;
        right: 0px;
        background-image: url("../img/icons/search.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .user-buttons__item {
        margin-left: 12px;
    }

    .user-buttons {
        position: absolute;
        top: 13px;
        right: 20px;
    }

    .user-buttons__item:nth-child(1) {
        display: none;
    }

    .button-name {
        display: none;
    }

    .user-buttons__item:nth-child(3)::before {
        display: none;
    }

    .mobile-menu {
        display: block;
        background-color: #FBF7EF;
        position: absolute;
        width: 100%;
        left: 0;
        top: -300%;
        z-index: 3;
        height: calc(100vh - 40px); /* Это что бы сделать до конца экрана */
        overflow-y: scroll; /* Это для скрола */
        transition: all .5s;
    }

    .mobile-menu.active {
        top: 43px;
    }

    .burger {
        display: block;
    }

    .nav {
        display: none;
    }


    .nav__mobile {
        background-color: #FBF7EF;
        margin-top: 15px;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-link {
        color: #1d2620;
         margin: 0 20px;
        position: relative;
    }

    .header-top__contacts {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    .time-work {
        font-size: 12px;
        line-height: 20px;
        color: #939393;
    }

    .header-top__contacts::before {
        left: 72%;
        background-color: #1d1d1d;
    }
 
    .nav-icon {
        fill: #1d2620;
    }

    .nav-list__item {
        padding: 13px 0;
        border-bottom: 1px solid #C4C4C4;
    }

    .nav-list__item:nth-child(1) {
        border-top: 1px solid #C4C4C4;
    }

    .nav-link::after {
        display: none;
    }

    .nav-list__item:nth-child(8) {
        margin-left: 0;
    }

    .mobile-button__toggle {
        display: block;
        position: absolute;
        top: -13px;
        right: 0;
        z-index: 1;
        position: relative;
        margin-right: 20px;
        font-size: 0;
        transition: all .5s;
    }

    .toggle {
        width: 100%;
        position: relative;
    }

    .toggle.active .mobile-button__toggle--active.mobile-button__toggle::after {
        transform-origin: top;
        transform: rotate(0deg) translateY(-15px) translateX(0px);
        background-color: transparent;
        transition: all .5s;
    }

    .mobile-button__toggle::before {
        content: "";
        position: absolute;
        right: 0;
        width: 18px;
        height: 2px;
        background-color: #1D2620;
        transition: all .5s;
    }
    
    .mobile-button__toggle::after {
        content: "";
        position: absolute;
        top: -8px;
        right: 8px;
        width: 2px;
        height: 18px;
        background-color: #1D2620;
        transition: all .5s;
        transform-origin: top;
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }

    .toggle-item {
        margin: 20px 20px 0 20px;
        display: none;
    }
    
    .toggle-item.active {
        display: block;
    }

   .header-top__mobile {
       display: flex;
       justify-content: space-between;
       margin-top: 30px;
   }

   .dropdown-menu {
       flex-direction: column;
   }

   .dropdow-menu__item {
        width: 100%;
        margin-bottom: 22px;
    }

    .top-list {
        width: 100%;
        flex-wrap: wrap;
    }

    .header-top__contacts--mobile {
        display: none;
    }

    .section-benner {
        padding-top: 81px;
    }

    .section-benner .container {
        padding: 0;
    }
}

@media (max-width: 834px) {
    .banner-title {
        width: 100%;
        max-width: 400px;
        font-size: 32px;
    }

    .banner-slider .slick-dots {
        bottom: -36px;
        right: 50%;
        transform: translate(50%,-50%);
        z-index: 1;
    }

    .banner-slider .slick-dots li button {
    
        background-color: #E6E6E6;
    
    }
    
    .banner-slider .slick-dots li.slick-active button {
        background-color: #DDA63C;
    
    }



    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 27px);
        row-gap: 20px;
    }

    .categories__item-1 {
        grid-column: 1/3;
        grid-row: 1/7;
        position: relative;
        
        
    }
    .categories__item-2 {
        grid-column: 1/3;
        grid-row: 7/9;
        padding-top: 0px;
        position: relative;
    }

    .categories__item-3 {
        grid-column: 1/3;
        grid-row: 9/11;
        padding-top: 0px;
        position: relative;
    }

    .categories__item-4 {
        grid-column: 1/3;
        grid-row: 11/13;
        position: relative;
    }

    .categories__item-2::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0,0, 0.2);
    }

    .categories__item-3::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0,0, 0.2);
    }

    .categories__item-4::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0,0, 0.2);
    }

    .footer {
        border-radius: 20px 20px 0 0;
    }
}

@media (max-width: 680px) {

    .footer-inner {
        flex-direction: column;
    }

    .footer-toggle {
        display: none;
    }

    .section__title {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .contacts-item {
        padding-bottom: 10px;
    }

    .contacts-item__link {
        font-size: 20px;
    }

    .hours {
        padding-bottom: 40px;
    }

    .footer-bottom {
      flex-direction: column;
    }

    .footer-bottom__item {
        flex-direction: column;

     }

     .copyrigth {
        margin: 15px 28px;
     }

     .footer-button {
        display: block;
         position: absolute;
         top: 19px;
        right: 0;
        z-index: 1;
        font-size: 0;
        transition: all .5s;
    }   
   

    .toggle-button.active .mobile-button__toggle--active.footer-button::after {
        transform-origin: top;
        transform: rotate(0deg) translateY(-15px) translateX(0px);
        background-color: transparent;
        transition: all .5s;
    }

    .footer-button::before {
        content: "";
        position: absolute;
        right: 0;
        width: 18px;
        height: 2px;
        background-color: #fff;
        transition: all .5s;
    }
    
    .footer-button::after {
        content: "";
        position: absolute;
        top: -8px;
        right: 8px;
        width: 2px;
        height: 18px;
        background-color: #fff;
        transition: all .5s;
        transform-origin: top;
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }

    .catalog {
        width: 100%;
    }

    .info {
        margin-right: 0;
    }

}


@media (max-width: 640px) {
    .banner img {
        width: 101px;
    }

    .banner {
        top: 28px;
        left: 40px;
    }


    .categories-links {
        margin: 20px 0 0 20px;
    }

    .categories-link {
        left: 20px;
    }

    .categories-list {
        flex-direction: column;
    }

    .categories-links__title {
        font-size: 25px;
    }

    .categories-list__item {
        margin-bottom: 15px;
        font-size: 18px;
    }
   

}


@media (max-width: 512px) {
    .header-top__contacts {
      display: none;
       
    }

    .header-top__links {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .header-top__contacts--mobile {
        display: block;
        display: flex;
        flex-direction: column;
    }

    .time-work {
        margin-bottom: 8px;
    }

    .top-contanct__link {
        margin-bottom: 4px;
    }

  

}

@media (max-width: 480px) {
    .banner-title {
        font-size: 26px;
    }

    .banner-subtitle {
        font-size: 16px;
    }

    .banner {
        top: 28px;
        left: 20px;
    }

    .product--title {
        position: relative;
        font-size: 26px;
    }

    .catalog-list__item {
        font-size: 14px;
    }

    .footer-inner {
        flex-direction: row;
    }

    .contacts {
        width: 100%;
    }

    .info {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .categories-links__title {
        font-size: 20px;
    }

    .categories-list__item {
     margin-bottom: 15px;
     font-size: 16px;
    }

    .product-card {
        width: 270px;
        margin-right: 10px;
    }

    
}