.footer {
    background-color: #1C1C1C;
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        bottom: 50px;
        left: 0;
        background-image: url("../img/footer-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        width: 208px;
        height: 221px;
    }
}


.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 77px 0;
}

.footer-item {

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        padding-bottom: 24px;
    }
}

.info-list__item {
    padding-bottom: 24px;
}

.info-list__link {

    &:hover {
        color: $yellow;
        cursor: pointer;
        cursor: url("../img/cur.png"), default;
    }
}



.contanct-list__item {
    padding-bottom: 24px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url("../img/geo.png");
        width: 11px;
        height: 16px;
    }

    &:nth-child(2)::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url("../img/mob.png");
        width: 15px;
        height: 15px;
    }

    &:nth-child(3)::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url("../img/massege.png");
        width: 15px;
        height: 12px;
    }
}

.contact__name {
    font-weight: 700;
    position: relative;
    padding-left: 20px;
}

.copyright {
   background-color: $black;
}

.copyright__text {
    padding: 20px 0;
    font-size: 14px;
    line-height: 16px;
}