.main-slider {
    position: relative;

        &-slider__item {
            position: relative;
        }


}

.main-slider .slick-slide:active, .slick-slide:focus {
    outline: none;
    }

.main-slider__item-img{
    width: 100%;
    object-fit: cover;
}

.section {
    padding-bottom: 100px;
}

.main-slider__item-img {
    max-width: 100%;
    object-fit: cover;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: calc(24px + 67 * ((100vw - 320px) / (1350 - 320)));
    font-weight: 100;
}

.main__slider-btn { 
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1;
    cursor: pointer;

        &__next {
            right: 90px;
        }

        &__prev {
            left: 90px;
        }
}

.services {
    margin-top: -70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-item {
    width: 31%;
    min-width: 300px;
    background:url('../img/blockbg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 10px 30px 10px;
    cursor: pointer;
    cursor: url("../img/cur.png"), default;
   

    &__inner {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0,-50%,0);
         text-align: center;
      
    }

    &:nth-child(2) {
        background:url('../img/blockbg2.jpg');
    }

    &:nth-child(3) {
        background:url('../img/blockbg3.jpg');
    }

    &:nth-child(4) {
        background:url('../img/blockbg4.jpg');
    }

    &:nth-child(5) {
        background:url('../img/blockbg5.jpg');
    }

    &:nth-child(6) {
        background:url('../img/blockbg6.jpg');
    }

}


.service-item__title {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 45px;
}


.services-item__inner-hover {
    opacity: 0;
    width: 100%;
    background: url("../img/blockbg1-hover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .1s;
    -webkit-transition: all linear .2s;
    text-align: center;
    position: relative;
    padding: 100px 10px;

}


.services__hover--one {
    background: url("../img/blockbg3-hover.jpg");
}

.services__hover--two {
    background: url("../img/blockbg2-hover.jpg");
}

.services__hover--three {
    background: url("../img/blockbg4-hover.jpg");
}

.services__hover--four {
    background: url("../img/blockbg5-hover.jpg");
}

.services__hover--five {
    background: url("../img/blockbg6-hover.jpg");
}

.services-btn {
    display: inline-block;
    background-color: $yellow;
    color: #000000;
    padding: 20px 56px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .1s;
    -webkit-transition: all linear .2s;
    cursor: pointer;
    cursor: url("../img/cur.png"), default;

        &:hover {
            background-color: #ffffff;
        }
}

.services-item:hover .services-item__inner-hover {
    opacity: 1;
} 

.services-item:hover .services-item__inner{
    opacity: 0;
} 