.section-project {
    padding-top: 100px;
}

.title-project {
    text-align: center;
    padding-bottom: 75px;
}

.project-slider {
    padding-bottom: 126px;
}

.project-content {
    position: relative;
    width: 420px;
    height: 310px;
    margin-right: 50px;
}

.project-slider .slick-track {
    left: -10%;
}


.slider__item-title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 30px;
    text-transform: uppercase;
}

.all-projects {
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid $white;
}

.project-content__hover {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 50px 30px;
    transition: all .1s;
    -webkit-transition: all linear .2s;
    cursor: pointer;
    cursor: url("../img/cur.png"), default;
}

.project-content__text {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
}

.project-btn {
    color: $yellow;
    border-bottom: 1px solid $yellow;
    outline: none;
}


.project-content:hover .project-content__hover {
    opacity: 1;
} 