.page {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    
        &-first {
            background: #cf3249 ;
        }
}

.side-bar {
    min-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

        &__left {
            background: #cf3249;
        }

}

.menu {
    margin-top: 50px;
    margin-left: 50px;
        &-btn {
            background-color: transparent;
            border: none;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 14px;
            cursor: pointer;
            padding-bottom: 10px;
            }

        &__slash {
            margin: 0 5px;
            font-weight: 700;
            position: relative;
            font-size: 14px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: -55px;
                    width: 40px;
                    height: 3px;
                    background-color: #050505;
                }
        }
}



.main {
    width: 100%;
    height: 100vh;
   
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

.side-bar__right {
    min-width: 135px;
    background: #0d0d0f;
    color: #cf3249;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    margin-bottom: 50px;

        &__list-item {
            display: inline;
            margin: 0 15px;
        }
}

.logo {
    margin-top: 50px;
    position: relative;
    text-align: right;
    transform: rotate(-90deg);

    &__bold {
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__normal {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        opacity: 0.6;
    }

    &::before {
        content: "";
        background-color: #cf3249;
        position: absolute;
        right: -6px;
        top: 2px;
        width: 3px;
        height: 90%;
    }
}

.pagination {
    margin-bottom: 50px;
}

.numbers {
    &__bold {
        font-weight: bold;
        font-size: 25px;
        
    }

    &__normal {
        font-weight: bold;
    }

}



.title {
    position: absolute;
    top: 40%;
    right: -28%;
    transform: rotate(-90deg);
    font-size: 120px;
    font-weight: 800;
}

.subtitle {
    position: absolute;
    bottom: 30%;
    right: -18%;
    transform: rotate(-90deg);
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    
}

.main {
    position: relative;
}


.main__text {
    position: absolute;
    top: 30%;
    left: -90px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    transform: rotate(-90deg);
}





.fp-slidesNav ul{
    display: flex;
    flex-direction: column;
}

.fp-slidesNav {
    right: 53px;
}

.fp-slidesNav.fp-bottom {
    bottom: 100px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    transition: transform .3s;
    transform:translateY(-100%) ;

    &--active {
        
        transform: translateY(0);
        transition: transform .3s;
    }
}




.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .3s;
    visibility: hidden;
    opacity: 0;

    &__dialog {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        transition: all .3s;
        
     
    }

    &__btn {
            width: 10px;
            margin-top: 50px;
            margin-left: 130px;
             background-color: transparent;
            border: none;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 14px;
            cursor: pointer;
            padding-bottom: 10px;
            color: #cf3249;
            position: relative;
            outline: none;

                &::after {
                    content: '';
                    position: absolute;
                    left: -55px;
                    top: 8px;
                    width: 40px;
                    height: 2px;
                    background-color: #cf3249;
                }
    }

    &--active {
        visibility: visible;
        opacity: 1;
        transition: all .3s;
    }
}

.menu__list {
    margin-top: 90px;
    margin-left: 200px;

        &__item {
            margin-bottom: 10px;
        }
        
        
    }

.logo-header {
    display: none;
}

.menu-list__link {
    font-size: 48px;
    color: #29292f;
    font-weight: 800;
    position: relative;
    
   

    &::after {
        content: '/';
        position: absolute;
        left: -50px;
        top: 0;
        font-size: 48px;
        display: none;
        
    }

    &:hover {
        color: #cf3249;
    }

    &:hover::after {
        color:#cf3249 ;
        display: block;
    }
}


.numbers__bold::before {
    counter-increment: section;                 
    content: "0" counter(section) " ";   
                                                
  }

  .bullets {
      text-align: center;
  }

  .bullets-list__link {
      position: relative;
      opacity: 0.5;
  }

  .bullet {
     font-size: 0;
     color: transparent;
  }

  .bullet::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #cf3249;
    
  }

  .bullets__link--active {
      opacity: 1;
  }