.section-main {
    width: 100%;
}


.slider-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}


.slider-content {
    padding-left: 0;
}

.fotorama__thumb-border {
    border-color: #cf3249;
    background-image: none;
}
