.concerts {
    padding-bottom: 230px;
}
.concerts_slider {
    
    display: flex;
    margin-top: 48px;
}

.contcers_main {
    position: relative;
}

.concert_video {
    position: relative;
    padding-right: 40px;
}
.concerts_title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 130%;
    color: #0E0E0E;
}

.concerts_subtitle {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #828282;
}

.concert_video::before {
    background: url("/mars/img/second/play.png") no-repeat 48% 50%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.countsSlides_3 {
    position: absolute;
    right: 111px;
    top: 6px;
}

.countsSlides_3-slash {
    position: absolute;
    right: 101px;
    top: 6px;
}

.countsSlides_3-num {
    position: absolute;
    right: 89px;
    top: 6px;
}

