
.directions {
    padding-bottom: 80px;
}

.direction_item {
  position: relative;
  margin: 102px auto;
}



.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
}

.direction_item::before {
    content: "";
   display: block;
   width: 100%;
   height: 3px;
   background-color: #24242015;
   position: absolute;
   top: -50px;
   left: 0;
   z-index: 1;
   
}

.direction_item::after {
    content: "";
   display: block;
   width: 3px;
    height: 148px;
   background-color: #73C7D2;
   position: absolute;
   top: -20px;
   left: 0px;
   z-index: 1;
   
}

.section_link {
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #67B2BC;
}

.directions_icon {
    width: 100px;
    height: 100px;
    text-align: center;
    padding-left: 40px;
}

.direction_icon::before {
    content: "";
   display: block;
   width: 100%;
   height: 100px;
   background-color: #000000;
   position: absolute;
   top: 110px;
   left: 10px;
   z-index: 1;
   
}

.direction_info {

    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-left: 0;
    
}


.direction_title {
 
    font-weight: normal;
    font-size: 32px;
    line-height: 130%;
    color: #0E0E0E;
    margin-left: 7px;
    
}

.direction_text {
    width: 34%;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #0E0E0E;
    margin-left: 159px;
}


.directions__arrow {
    width: 89px;
    height: 16px;
    fill: #8BD3DD;
    transition: .2s linear;
}

.directions__arrow:hover {
    fill: #0E0E0E;
}

.piano--text {
    margin-left: 70px;
}