.footer {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;
    padding-bottom: 50px;
}

.footer_item {
    position: relative;
}

.footer_item-top {
    display: flex;
    justify-content: space-between;
}

.item_top-firs {
    width: 212px;
    display: flex;
    margin-top: 60px;
}

.footer_subtitle {
    font-size: 13px;
    line-height: 15px;
    color: #666464;
}

.footer_icons {
    padding-top: 12px;

}


.icons_style {
    margin: 0 11px;
    padding: 10px 10px;
    width: 25px;
    fill: white;
    height: 25px;
    border-radius: 2px;
    background-color: #8BD3DD;
    transition: .3s ease;
}

.icons_style:hover {
    background-color: #fff;
    color: #73C7D2;
    fill: #73C7D2;
}


.item_top-second {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 13px;
}

.footer_number-adress {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer_number {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #8BD3DD;
    padding-bottom: 22px;
}

.adress {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #FFF;
}


/* Footer-bottom */


.footer_item-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.item_bottom-first {
    width: 43%;
}


.footer_nav-top {
    display: flex;
    justify-content: space-between;
}

.footer_nav-link {

    font-size: 15px;
    line-height: 18px;
}

.footer_nav-link:hover {
    color: #8BD3DD;
}

.footer_nav-link:first-child {
    padding-left: 0;
}

.footer_nav-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 4px;
}


.footer_form {
    display: flex;
    display: flex;
    align-items: flex-end;

}

.input_mail {
    border: none;
    border-bottom: 1px solid #868686;
    width: 267px;
    height: 42px;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #868686;
    background: none;
}

input:placeholder-shown {
    color: #67B2BC;
}

input:focus {
    outline: none;
}

.form_title {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.footer--btn {
    width: 129px;
    margin-top: 0;
    margin-left: 19px;
    transition: .3s ease;
}

.footer--btn:hover {
    background-color: #fff;
    color: #73C7D2;
}

.footer--btn:hover .arrow_btn {
    fill: #73C7D2;
}

.mail-form {
    width: 75%;
}

.arrow_btn {
    width: 21px;
    height: 15px;
    display: none;
    fill: #fff;
    padding-left: 5px;
}

