.intro {
    width: 100%;
    padding-bottom: 150px;
    background-color: #000000;
    color: #fff;
    margin-bottom: 80px;
}

.intro_inner {
    padding-top: 210px;
    position: relative;
}

.intro-slider_item {
    width: 100%;
    height: 307px;
    position: relative;
    background: #000f05;
}

.intro-slider_wrapper {
    position: absolute;
    top: 35px;
    left: 4px;
    z-index: 10;
}

.intro-slider_text {
    font-weight: 300;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.intro-slider_subtext {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #D1D1D1;
    padding-bottom: 56px;
}

.text-aqua {
    font-weight: 700;
    line-height: 130%;
    color: #8BD3DD;
}

.slider-btn {
    padding: 12px 30px;
    background: #8BD3DD;
    border-radius: 2px;
    border: none;
    color: #fff;
    letter-spacing: 0.05em;
    transition: .2s linear;
}

.slider-btn:hover {
    background: #fff;
    color: #0E0E0E;
}


.intro_slider .slick-slide img {
    display: block;
  
}

.intro-img_wrapper {
    height: 308px;
    overflow: hidden;
    position: relative;
}

.intro-img_inner {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.buttons-wrapper {
    position: absolute;
    right: 0;
    bottom: -60px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.intro-slider__btn {
    background: none;
    border: none;
   outline: none;
}

.slider__arrow {
    width: 89px;
    height: 16px;
    fill: #A3A3A3;
    cursor: pointer;
    transition: .2s linear;
}

.slider__arrow:hover {
    fill: #8BD3DD;
}


.counts-intro__slider {
    display: flex;
   margin: 0 10px;
}

.buttons-slider {
   position: relative;
}

.countsSlides-slash {
    margin: 0 4px;
}



