.intro {
    width: 100%;
    height: 650px;
    background-color: #000000;
    color: #fff;
    margin-bottom: 80px;
}

.intro_inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 210px;
}


.intro_title {
    width: 43%;
    font-size: 44px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 16px;
}

.aqua_title {
    font-weight: bold;
    line-height: 130%;
    color: #8BD3DD;
}

.intro_text {
    width: 50%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #D1D1D1;
    padding-bottom: 45px;
}

.intro_btn {
    padding: 15px 30px;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: black;
    background: #fff;
    border-radius: 3px;
}


.intro_img {
    position: relative;
    width: 860px;
    height: 290px;
    padding-left: 330px;
    
}

.arrows_slides {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #A3A3A3;
    padding: 0 20px;
}

.buttons_slider {  
  display: flex;
  align-items: center;
  position: absolute;
  right: 18px;
  bottom: -53px;
}


.arrow_next  {
    position: absolute;
    top: -3px;
    left: -77px;
    background: none;
   border: none;
   cursor: pointer;
   outline: none;
}



.slider_arrow  {
    width: 89px;
    height: 20px;
    fill:#A3A3A3;
   
}

.slider_arrow:hover {
    fill: #8BD3DD;
}

.arrow_prev {
    position: absolute;
    left: -248px;
    top: -3px;
    background: none;
   border: none;
   cursor: pointer;
   outline: none;
}

.countsSlides {
    position: absolute;
    right: 119px;
    top: -4px;
    z-index: 1;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #A3A3A3;
}


.count_right {
    position: absolute;
    top: -4px;
    right: 97px;
    z-index: 1;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #A3A3A3;
}

.count_slash {
    top: -1px;
    position: absolute;
    right: 109px;
    color: #A3A3A3;
}