
.lessons {
    padding-bottom: 124px;
}

.lessons--title {
    padding-bottom: 20px;
}

.lessons-inner {
    display: grid;
    grid-template-columns: 1fr 22% 22% 22%;
    grid-template-rows: 110px 29% 7% 27% 109px;
    grid-template-areas: "lessons-item_1 lessons-item_1 lessons-item_4 lessons-item_5"
                         "lessons-item_2 lessons-item_2 lessons-item_4 lessons-item_5"
                         "lessons-item_2 lessons-item_2 lessons-item_6 lessons-item_6"
                         "lessons-item_3 lessons-item_3 lessons-item_6 lessons-item_6"
                         "lessons-item_3 lessons-item_3 lessons-item_7 lessons-item_7";    
    grid-gap: 40px;
    grid-row-gap: 40px;
    row-gap: 30px;
}

.lessons-inner img {
    width: 100%;
    object-fit: cover;
}

.lessons-item_1 {
    grid-area: lessons-item_1;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.lessons-item_2 {
    grid-area: lessons-item_2;
    display: flex;
    align-items: flex-end;
}

.lessons-item_3 {
    grid-area: lessons-item_3;
    display: flex;
    align-items: baseline;
}

.lessons-item_4 {
    grid-area: lessons-item_4;
    display: flex;
    align-items: flex-end;
}

.lessons-item_5 {
    grid-area: lessons-item_5;
    display: flex;
    align-items: flex-end;
}

.lessons-item_6 {
    grid-area: lessons-item_6;
}

.lessons-item_7 {
    grid-area: lessons-item_7;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #000000;
}