.second {
    padding-bottom: 100px;
}


.description {
    display: grid;
    grid-template-columns: 1fr 31% 22%;
    grid-template-rows: 25% auto auto auto;
    grid-template-areas: "description-text description-col2_img description-col3_text"
                         "description-col1_img description-col2_img description-col3_text"
                         "description-col1_img description-col2_img description-col3_img"
                         "description-col1_img description-col2_img description-col3_img-2";
     grid-gap: 40px;
    grid-row-gap: 20px;
    row-gap: 20px;
}

.description img {
    width: 100%;
    object-fit: cover;
}

.description-text {
    grid-area: description-text;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #0E0E0E;
}

.description-col1_img {
    grid-area: description-col1_img;
    display: flex;
    align-items: center;
}

.description-col2_img {
    grid-area: description-col2_img;
    padding-top: 104px;
    display: flex;
    align-items: flex-end;
}

.description-col3_text {
    grid-area: description-col3_text;
    display: flex;
    flex-direction: column;
}

.description-text__item {
    margin-bottom: 24px;
}

.description-stats {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #0E0E0E;
}

.descriptuon-stats__num {
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    color: #73C7D2;
}

.description-col3_img {
    grid-area: description-col3_img;
    display: flex;
    align-items: flex-end;
}

.description-col3_img-2 {
    grid-area: description-col3_img-2;
    display: flex;
    align-items: flex-end;
}








