
.teachers {
    position: relative;
    padding-bottom: 237px;
}

.teacher--header {
    padding-bottom: 47px;
}

.teacher_slider {
    display: flex;
    justify-content: space-between;
}

.slider_img {
    padding: 0 25px 20px 5px;
}

.teacher_main {
    position: relative;
}

.slider_name {
    margin-left: 11px;
    font-size: 24px;
    line-height: 130%;
    color: #0E0E0E;
    padding-bottom: 10px;
}

.slider_prof {
    margin-left: 11px;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #747474;
}

.teacher--button {
    bottom: 0;
}

.buttons_slide-2 {
    margin-top: 49px;
    position: absolute;
    right: 40px;
}

.teacher_btn-prev {
    position: absolute;
    top: 8px;
    right: 140px;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}


.teacher_btn-next {
    position: absolute;
    top: 8px;
    right: -31px;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.countsSlides_2 {
    position: absolute;
    right: 111px;
    top: 6px;
}

.countsSlides_2-slash {
    position: absolute;
    right: 101px;
    top: 6px;
}

.countsSlides_2-num {
    position: absolute;
    right: 89px;
    top: 6px;
}

.counts_ {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #A3A3A3;
}
