
.section-contacts {
    background: url("../img/contacts.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.section-contact {
    padding-top: 100px;
}