.signup {
    width: 100%;
    height: 100px;
    background: url(/konstrukt/img/bg_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singup_title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.85px;
   padding-top: 31px;
   padding-left: 139px;
   padding-right: 30px;
}


.subscribe {
    display: flex;
    justify-content: flex-end;
    margin-top: 31px;
    margin-right: 137px;
}

.subscribe_input::placeholder {
    color: #ccc;
}

.subscribe_input {
    width: 223px;
    height: 12.5px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ccc;
    font-style: italic;
    font-weight: 300;
    padding: 12px;
    line-height: 1.1;
}

.subscribe_btn {
   width: 150px;
    height: 39.8px;
    background-color: #00A4E5;
    border: 0;
    line-height: 1.1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.subscribe_btn:hover {
    background-color: #0680b1;
}

.subscribe_btn:focus {
    outline: 0;
}

.subscribe_input:focus {
    outline: 0;
    border-color: #00A4E5;
}