.section-about__company {
    background: url("../img/about-image.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.about-company__title {
    padding-top: 216px;
    padding-bottom: 24px;
    font-weight: 300;
    line-height: 75px;
    text-transform: uppercase;
    font-size: calc(42px + 14 * ((100vw - 320px) / (1350 - 320)));
}

.about-company__subtitle {
    font-family: Constantia;
    font-style: italic;
    font-weight: bold;
    
    line-height: 29px;
    font-size: calc(21px + 1 * ((100vw - 320px) / (1350 - 320)));
}