.section-progres {
    background: url("../img/progress.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 454px;
    
}

.progres {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 120px;

    &-item {
      position: relative;
      text-align: center;
    }

    &-precent {
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
    }

    &-text{
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 38px;
    }
}

.progres-precent__two {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}

.progres-precent__three {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}



