.section-clients {
    padding-top: 100px;
}

.title-clients {
    text-align: center;
    padding-bottom: 75px;
}

.clients {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;

        &-link {
            text-transform: uppercase;
            border-bottom: 1px solid $white;
        }
}

.client-slider__arrow {
    width: 32px;
    height: 24px;
    fill: #E5E5E5;

        &:hover {
            fill: $yellow;
        }

}


.clients-slider__btn {
    position: absolute;
    bottom: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    
}

.clients-btn__prev {
    left: 35%;
}

.clients-btn__next {
    right: 35%;
}