.best-goods {
    padding-bottom: 120px;
}

.bgoods-slider {
    padding-bottom: 100px;
}

.bgoods-card {
    display: flex;
    flex-direction: column;
    width: 221px;
    min-height: 398px;
    background-color: #FBF7EF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 10px 24px 20px 24px;
    margin-right: 20px;

        &__img {
            text-align: center;
            padding-bottom: 17px;
        }

        &__title {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            padding-bottom: 18px;
        }

        &__price {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            background-color: #FFFF00;
            padding: 6px 8px;
            width: 83px;
            height: 32px;
            border-radius: 4px;
            text-align: center;
            position: relative;
            margin-bottom: 12px;
        }

        &__btn {
            width: 173px;
            height: 40px;
            text-align: center;
            background-color: #DDA63C;
            border: none;
            border-radius: 4px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $white;
            cursor: pointer;
        
        }
}

.bgoods--sale {
    display: none;
    position: absolute;
    top: -5px;
    left: 5px;
    z-index: 1;
    padding: 0px 4px;
    width: 45px;
    height: 14px;
    background: #E18E8E;
    border-radius: 2px;
    font-size: 10px;
    line-height: 14px;
    text-decoration-line: line-through;
}

.bgoods-sale__card .bgoods--sale {
    display: block;
}

.bgoods-slider .slick-dots {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.bgoods-slider .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #E6E6E6;
    border-radius: 50%;
    margin: 0 5px;
    outline: none;
    border: none;
}

.bgoods-slider .slick-dots li.slick-active button {
    background-color: #38925D;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
}
