.section-projects {
    background: url("../img/black-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.tabe-section {
    padding-top: 100px;
}

.title-page {
    font-weight: 300;
    font-size: calc(42px + 19 * ((100vw - 320px) / (1350 - 320)));
    line-height: 75px;
    text-transform: uppercase;
}


.title--projects {
    padding-top: 110px;
    font-size: calc(32px + 19 * ((100vw - 320px) / (1350 - 320)));
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
   

        &__item {
            margin-bottom: 125px;
        }
}

.project--page {
    margin-right: 20px;
}

.project-conentent__page {
    margin-right: 20px;
}

.project-slider__img {
    width: 100%;
    object-fit: cover;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 65px;
}

.tabs-content {
    display: none;
}

.tabs-content.tabs-content--active {
    display: block;
}

.tab {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

        &--active {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                width: 100%;
                height: 1px;
                background-color: $yellow;
            }
        }
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: default;
     cursor: default; 
     cursor:pointer;
}