@media (max-width: 1024px) {
    .about-item {
        padding-right: 15px;
    }

    .scroll-downs {
        display: none;
    }
}

@media (max-width: 895px) {
   .about-photo {
       display: none;
   }

   .about-item {
        padding-right: 0px;
    }
}

@media (max-width: 837px) {
    .product-table__item {
        width: 50%;
    }

    .product-table__item:nth-child(3) {
        border-left: 1px solid #E3E3E3;
    }
}

@media (max-width: 768px) {
    .projects-item__link::before {
        opacity: .7;
        width: 100%;
    }

    .projects-item__name {
        opacity: 1;
    }

    .text-subtitle {
        opacity: 1;
    }

    .projects-about {
        bottom: 77px;
        left: 40px;
    }

    .projects-page__item {
        height: 362px;
    }

    .other-projects__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
    }

    .other-projects__item:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 40px;
    }

    .other-projects__item {
        height: 350px;
    }

    .other-projects__link img {
        height: 350px;
    }

    .other-projects__name {
        top: 41%;
    }
}

@media (max-width: 709px) {
    .header-contacts {
        margin-right: 17px;
    }

    .header-contacts__link + .header-contacts__link {
        margin-left: 20px;
    }

    .contacts-title {
        display: none;
    }

}

@media (max-width: 640px) {
    .header {
        margin-bottom: 20px;
    }

    .contacts-title {
        display: none;
    }

    .header-contacts__link + .header-contacts__link {
        margin-left: 20px;
    }

    .other-projects__name {
        left:15px;
    }

    .other-projects__img::after {
        right: 15px;
    }
}

@media (max-width: 529px) {
    .product-table__item {
        width: 100%;
        border-left: 1px solid #E3E3E3;
    }
}


@media (max-width: 414px) {
    .about-item {
        width: 100%;
    }

    .scroll-x {
        overflow-x: scroll;
    }

    .mobile-overflow {
        width: 440px;
    }
}

