/** Контейнер */
.container {
    max-width: 1190px;
    margin: 0 auto; 
    padding: 0 15px;
}

.page {
    overflow: hidden;
}

.section_title {
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    color: #0E0E0E;
}