@import "/mars/css/_global.css";
@import "/mars/css/_overall.css";
@import "/mars/css/_media.css";



/* Components */

@import "/mars/css/components/header.css";
@import "/mars/css/components/intro.css";
@import "/mars/css/components/second.css";
@import "/mars/css/components/directions.css";
@import "/mars/css/components/teachers.css";
@import "/mars/css/components/trial.css";
@import "/mars/css/components/lessons.css";
@import "/mars/css/components/concerts.css";
@import "/mars/css/components/answers.css";
@import "/mars/css/components/footer.css";
@import "/mars/css/slider.css";


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/** Контейнер */
.container {
    max-width: 1190px;
    margin: 0 auto; 
    padding: 0 15px;
}

.page {
    overflow: hidden;
}

.section_title {
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    color: #0E0E0E;
}

@media (max-width: 1041px) {

    /* Intro */
    .intro_title {
        width: 46%;
    }

    .intro_img {
        padding-left: 250px;
    }

    .direction_info {
        margin-left: 43px;
    }

    .direction_title {
        margin-left: 7px;
    }

    .direction_text {
        width: 45%;
        margin-left: 148px;
    }

   
    .trial_title {
        font-size: 28px;
    }

}

@media (max-width: 977px) {

    /* Intro */
    .info {
        padding-left: 13px;
    }

    .intro_title {
        width: 48%;
    }

    .nav_link {
        margin-right: 30px;
    }

    .intro_img {
        padding-left: 89px;
    }
}


@media (max-width: 963px) {

    /* Intro */
    .intro_title {
        width: 51%;
    }

    /* Second */


    .first_item-text {
        width: 105%;
    }

    .second_column {
        margin-left: 0;
    }

    .second_item-img {
        padding: 20px 15px 20px 15px;
    }

    /* Teachers */

    .teacher--title {
        font-size: 38px;
    }

    .slider_img {
        padding: 0 11px 20px 5px;
    }

    /* Trial */

    

    .trial_title {
        font-size: 26px;
    }

    .trial_subtitle {
        font-size: 14px;
        padding-bottom: 44px;
    }

    .trial_form {
        padding-left: 0;
    }



    /* Lessons */

    .lessons_text {
        width: 121%;
    }

    .grid_lessons {
        grid-column-gap: 19px;
    }

    .first-lessons_column {
        grid-row-gap: 0px;
    }

    .second-lessons_column {
        grid-row-gap: 34px;
    }

    .section_title {
        font-size: 38px;
    }


}


@media (max-width: 907px) {
    .footer_nav {
        display: flex;
    }

    .footer_nav-top {
        flex-direction: column;
        padding-right: 60px;
    }

    .footer_nav-bottom {
        flex-direction: column;
        padding-top: 0;
        padding-left: 0;
    }

    .footer_nav-item {
        padding: 30px 0;
    }

    .footer_nav-item:first-child {
        padding-top: 0;
    }


}



@media (max-width: 896px) {

    /* Intro */

    .intro_title {
        width: 67%;
    }

    .intro_text {
        width: 64%;
    }

    .intro_img {
        padding-left: 7px;
    }

    .header {
        top: 10px;
    }

    .header_top {
        border-bottom: none;
    }

    .info:nth-child(2) {
        display: none;
    }

    .info:nth-child(3) {
        display: none;
    }

    .header_btn {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 1;
    }

    .header_info {
        margin-right: 150px;
    }

    /* Direction */

    .direction--title {
        font-size: 38px;
    }

    .direction_info {
        flex-direction: column;
        align-items: flex-start;
    }

    .direction_title {
        margin-left: 0;
    }

    .direction_text {
        width: 100%;
        padding: 5px 0 20px 0;
        margin-left: 0;
    }

    .direction_item::after {
        top: 0;
    }


    /* Trial */

    .trial_image {
        width: 100%;
    }


    .trial_window {
        width: 94%;
        max-width: 544px;
        position: absolute;
        top: 3%;
        left: 3%;
        bottom: 3%;
        right: 3%;        
    }


    .trial_btn {
        margin-top: 22px;
        margin-bottom: 29px;
    }

    .input_mail {
        margin-bottom: 24px;
    }
}


@media (max-width: 801px) {


    .item_top-second {
        width: auto;
        flex-direction: column-reverse;
        position: absolute;
        right: 0;
        top: 53px;
    }

    .footer_icons {
        padding-top: 32px;
    }

    .footer_item-bottom {
        flex-direction: column;
        padding-top: 32px;
    }

    .footer_nav-item {
        padding: 18px 0;
    }

    .footer_form {
        margin-top: 30px;
    }

    .col-75 {
        width: 80%;
    }

    .input_mail {
        width: 100%;
    }
}



@media (max-width: 768px) {

    .first_item-text {
        width: 116%;
        font-size: 16px;
    }

    .first_item-img {
        padding-top: 67px;
    }

    .second_column {
        margin-top: 83px;
    }

    .second_item-img {
        padding: 20px 7px 2px 15px;
    }

    .tihrd_stats-item {
        padding-bottom: 16px;
    }

    .aqua--stats {
        font-size: 27px;
    }

    .stats_text {
        font-size: 16px;
    }

    .third_item-img {
        padding: 0;
    }

    /* Lessons */

    .lessons_text {
        width: 143%;
        font-size: 19px;
        padding-bottom: 10px;
    }

    .first-lessons_column {
        grid-row-gap: 10px;
    }

    .second-lessons_column {
        grid-row-gap: 19px;
    }

    .lessons_text-five {
        padding-top: 13px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .first_item-text {
        width: 100%;
    }


    .second_item-img {
        padding: 20px 9px 30px;
    }

    /* Lessons */

    .grid_lessons {
        grid-column-gap: 23px;
    }

    .first-lessons_column {
        grid-row-gap: 15px;
    }

    .second-lessons_column {
        grid-row-gap: 44px;
    }
}



@media (max-width: 746px) {

    /* Intro */

    .nav {
        display: none;
    }

    .nav_toggle {
        display: block;
    }

    .header_logo {
        margin-left: 50px;
    }
}

@media (max-width: 640px) {

    /* Intro */

    .intro {
        margin-bottom: 30px;
    }

    .intro_title {
        width: 76%;
    }

    .intro_text {
        font-size: 14px;
    }

    .intro_img {
        padding-left: 0px;
    }

    /* Second */

    .first_item-text {
        width: 127%;
        font-size: 14px;
        margin-top: 37px;
    }

    .first_item-img {
        padding-top: 67px;
        padding-right: 10px;
    }

    .aqua--stats {
        font-size: 28px;
    }

    .stats_text {
        font-size: 14px;
    }

    .second_column {
        margin-left: 10px;
        margin-top: 121px;
        margin-right: 10px;
    }

    .second_item-img {
        padding: 0;
    }

    .third_column {
        grid-template-rows: none;
        margin-top: 27px;
    }

    .tihrd_stats-item {
        padding-bottom: 10px;
    }

    .third_item-img {
        padding: 0;
    }

    /* Direction  */

    .direction--title {
        font-size: 34px;
    }

    .direction_item {
        margin: 77px auto;
    }

    .direction_text {

        padding-bottom: 20px;
    }

    /* Teachers */

    .teachers_image {
        width: 220px;
    }

    .slider_img {
        padding: 0 8px 20px 8px;
    }

    .slider_name {
        font-size: 20px
    }

    /* Lessons */

    .lessons_text {
        font-size: 14px;
    }

    .lessons_img-one {
        display: grid;
        align-items: center;
    }

    .first-lessons_column {
        grid-row-gap: 0px;
    }

    .lessons_img-two::before {
        background: url(/img/second/play.png) no-repeat 50% 40%;
    }

    .lessons_img-thirt::before {
        background: url(/img/second/play.png) no-repeat 50% 87%;
    }

    /* Concerts */

    .concerts_video {
        width: 408px;
    }

    /* Answers */

    .answers_title {
        font-size: 15px;
    }

    .answers_toggle {
        top: 9px;
    }

    .answers_text {
        width: 97%;
    }


    .footer_nav-top {
        padding-right: 18px;
    }

}


@media (max-width: 600px) {

    /* Intro */

    .intro {
        height: 408px;
    }

    .intro_inner {
        padding-top: 109px;
    }

    .intro_test {
        text-align: -webkit-center;
    }

    .intro_title {
        width: 63%;
        font-size: 34px;
    }

    .intro_text {
        width: 68%;
        font-size: 14px;
    }

    .intro_slider::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 103%;
        background-color: rgba(0, 0, 0, 45%);
        top: 0;
        z-index: 2;
    }

    .intro_img {
        position: absolute;
        top: 109px;
        left: -28px;
    }

    .intro_slider:nth-last-child(2) {
        display: none;
    }

    .intro_slider:nth-last-child(3) {
        display: none;
    }

    .buttons_slider {
        display: none;
    }

    /* Directon  */

    .direction_item::after {
        top: 23px;
    }


    /* Trial */

    



    .item_top-firs {
        width: 183px;
        align-items: center;
        text-align: center;
        margin-top: 41px;
        margin-bottom: 15px;
    }

    .item_top-second {
        position: inherit;
        align-items: center;
    }

    .footer_number-adress {
        align-items: center;
    }

    .footer_img {
        width: 183px;
    }

    .footer_nav {
        display: none;
    }

    .footer_item-bottom {
        padding-top: 87px;
    }

    .footer_item-top {
        flex-direction: column;
        align-items: center;
    }


    .footer_item-bottom {
        padding-top: 7px;
    }


}

@media (max-width: 532px) {

    /* Intro */

    .header_info {
        display: none;
    }

    .intro_title {
        width: 63%;
        font-size: 28px;
    }
}


@media (max-width: 480px) {

    /* Intro */

    .intro {
        height: 385px;
    }

    .intro_img {
        top: 145px;
        left: -103px;
    }

    .intro_slider img {
        height: 239px;
    }

    .intro_slider::before {

        height: 100%;
        background-color: rgba(0, 0, 0, 58%);
    }

    /* Second */

    .intro {
        margin-bottom: 60px;
    }

    .first_item-text {
        width: 99%;
        margin-top: 0;
    }

    .first_item-img {
        padding-top: 21px;
    }

    .grid_item {
        grid-template-columns: 70% 30%;
    }

    .second_column {
        display: none;
    }

    .third_column {
        margin-top: 0;
        padding-left: 0;
    }

    .tihrd_stats-item {
        padding-bottom: 25px;
    }

    .third_item-img:last-child {
        display: none;
    }

    /* Directon */

    .direction--title {
        font-size: 28px;
    }

    .direction_item::after {
        top: 32px;
    }

    /* Teachers */

    .teachers_image {
        width: 220px;
    }

    .slider_img {
        padding: 0 0px 20px 9px;
    }

    .slider_name {
        font-size: 20px
    }

    .buttons_slide-2 {
        right: 120px;
    }

    /* Trial */


    .trial_title {
        font-size: 24px;
    }

   
    .tests {
        padding-left: 0;
    }

    /* Lessons */


    .section_title {
        font-size: 28px;
    }

    .lessons_text {
        width: 100%;
        padding-bottom: 16px;
    }

    .lessons_img-one {
        display: grid;
        align-items: center;
    }

    .grid_lessons {
        grid-template-columns: none;
    }

    .first-lessons_column {
        grid-template-rows: none;
    }

    .lessons_img-two {
        display: none;
    }

    .second-lessons_column {
        grid-template-rows: none;
    }

    .lessons_img-thirt {
        padding-top: 26px;
        align-items: flex-start;
    }

    .img_five {
        display: none;
    }

    .lessons_img-thirt::before {
        background: url(/img/second/play.png) no-repeat 50% 26%;
    }


    .concerts_video {
        padding-right: 0px;
        width: 454px;
    }

    .answers_toggle {
        top: -34px;
        right: 211px;
    }
}

@media (max-width: 414px) {

    /* Intro */

    .intro_title {
        width: 77%;
    }

    .intro_text {
        width: 81%;
    }


    /* Second */

    .section_header--direction {
        flex-direction: column;
    }

    .direction--title {
        padding-bottom: 10px;
    }

    .tihrd_stats-item {
        padding-bottom: 20px;
    }

    /* Directon */

    .direction_item::after {
        top: 66px;
    }

    .direction_info--last {
        margin-left: 81px;
    }


    /* Teachers */

    .teacher--header {
        flex-direction: column;
    }

    .teacher--title {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .slider_img {
        padding: 0 14px 20px 5px;
    }

    .buttons_slide-2 {
        right: 85px;
    }

    /* Trial */

  
    .trial_title {
        font-size: 21px;
    }

    .trial_subtitle {
        padding-bottom: 16px;
    }

   

    

    .trial_btn {
        margin-top: 23px;
    }

    .lessons--title {
        text-align: center;
    }

    .lessons_text {
        text-align: center;

    }

    .concert_video::before {
        background: url(/img/second/play.png) no-repeat 38% 50%;
    }

    .concerts--title {
        text-align: center;
    }

    .answers_toggle {

        right: 171px;
    }

    .answers_header--title {
        text-align: center;
        font-size: 24px;
        padding-bottom: 40px;
    }

    .input_mail {
        min-width: 239px;
    }

}

@media only screen and (max-width: 736px) and (min-width: 414px) and (orientation: landscape) {
    .intro {
        height: 441px;
    }

    .intro_inner {
        padding-top: 93px;
    }

    .buttons_slider {
        bottom: -19px;
    }

    .second_column {
        margin-top: 100px;
    }


    /* Teachers */

    .teachers_image {
        width: 220px;
    }

    .slider_img {
        padding: 0 8px 20px 8px;
    }

    .slider_name {
        font-size: 20px
    }

    .buttons_slide-2 {
        margin-top: 14px;
    }

    .concerts_video {
        width: 515px;
    }
}




@media (max-width: 375px) {

    /* Intro */

    .intro_title {
        width: 85%;
    }

    .intro_text {
        width: 89%;
    }

    /* Second */

    .grid_item {
        grid-template-columns: none;
        grid-template-rows: 76% 30%;
    }

    .first_item-img {
        padding-right: 0;
    }

    .third_column {
        grid-template-rows: none;
        grid-template-columns: 51% 49%;
        margin-top: 0;
        padding-left: 0;
    }

    .third_item-img::before {
        background: url(/img/second/play.png) no-repeat 50% 27%;
    }

    .tihrd_stats-item {
        padding-bottom: 6px;
    }

    /* Direction */



    .direction--title {
        font-size: 28px;
    }


    .directions_icon {
        display: none;
    }

    .direction_item::after {
        top: -8px;
        height: 70px;
    }

    .direction_info {
        align-items: center;
        text-align: center;
        margin-left: 26px;
        width: 86%;
    }

    .direction_title {
        width: auto;
        padding-bottom: 20px;
    }

    .direction_text {
        width: 109%;
    }

    /* Teachers */

    .slider_img {
        padding: 0 14px 20px 5px;
    }

    .buttons_slide-2 {
        margin-top: 30px;
        right: 65px;
    }

    /* Trial */

  
    .trial_img {
        width: 100%;
    }

    .trial_image {
        min-width: 364px;
    }

    .trial_title {
        font-size: 21px;
    }

    .trial_subtitle {
        padding-bottom: 16px;
    }

    

    

    .trial_btn {
        margin-top: 28px;
    }

    .concerts--title {
        text-align: center;
    }

    .concerts_title {
        font-size: 20px;
    }

    .concert_video::before {
        background: url(/img/second/play.png) no-repeat 34% 50%;
    }


    .answers_toggle {

        right: 153px;
    }


    .footer--btn {
        width: 44px;
        font-size: 0px;
    }

    .trial_btn-arrow {
        display: block;
        margin: 0 auto;
    }

    .adress {
        font-size: 12px;
    }

}


@media only screen and (max-width: 667px) and (min-width: 375px) and (orientation: landscape) {

    .intro {
        margin-bottom: 47px;
    }

    .intro_title {
        font-size: 32px;
    }

    .intro_text {
        font-size: 17px;
    }

    .intro_img {
        padding-left: 0;
    }

    .first_item-text {
        width: 135%;
    }

    .tihrd_stats-item {
        padding-bottom: 8px;
    }
}

@media (max-width: 320px) {

    /* Intro */

    .nav_toggle {
        left: 0;
    }

    .header_logo {
        margin-left: 27px;
    }

    .header_btn {
        right: 10px;
    }

    .intro_title {
        width: 100%;
    }

    .intro_text {
        width: 100%;
    }

    .intro_img {
        left: -185px;
    }


    /* Second */

    .grid_item {
        grid-template-rows: 66% 30%;
    }

    .first_item-text {
        text-align: center;
    }

    .third_item-img::before {
        background: url(/img/second/play.png) no-repeat 50% 12%;
    }

    /* Teachers */


    .buttons_slide-2 {
        right: 36px;
    }

    /* Trial */


    
    .trial_image {
        min-width: 300px;
    }
    

    .trial_title {
        font-size: 20px;
    }

    .trial_subtitle {
        padding-bottom: 14px;
    }

    

    

    .trial_btn {
        margin-top: 28px;
    }

    .concert_video::before {
        background: url(/img/second/play.png) no-repeat 28% 50%;
    }

    .concerts_title {
        font-size: 17px;
    }

    .answers_title {
        text-align: center;
    }

    .answers_toggle {

        right: 125px;
    }
}

@media only screen and (max-width: 568px) and (min-width: 320px) and (orientation: landscape) {

    .intro {
        height: 377px;
        margin-bottom: 6px;
    }

    .intro_title {
        font-size: 26px;
    }

    .intro_text {
        font-size: 13px;
    }

    .intro_img {
        top: 75px;
    }

    .first_item-text {
        width: 146%;
        font-size: 13px;
    }

    .second_column {
        margin: 123px 5px 0 5px;
    }

    .aqua--stats {
        font-size: 24px;
    }

    .third_item-img {
        padding-bottom: 16px;
    }

}