.catalog-page {
    margin-top: 24px;
    margin-bottom: 100px;

}


.page-title {
    font-size: 32px;
    line-height: 44px;
    color: #1D2620;
}

.header-filter {
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 30px;
}

.catalog-filter__buttons button {
    width: 142px;
    height: 40px;
    background-color: #F1E6D0;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
}

.catalog-wrapper {
    width: 100%;
}

.catalog-inner {
    display: flex;

        &__aside {
            min-width: 250px;
            margin-right: 30px;
        }   

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
}





.filters-buttons {
    color: #fff;
    padding: 6px 12px;
    background: #DDA63C;
    border-radius: 5px;

}

.product-card--catalog:hover .product-card__hover {
    opacity: 1;
}


.product-card--catalog:hover .product-card__rating-hover {
    display: block;
}


.card-rating__hover {
    display: flex;
    align-items: end;
}

.product-card--catalog:hover .product-card__subtitle-hover {
    display: block;
}

.product-card--catalog:hover .product-card__title-hover {
    padding-bottom: 8px;
}

.product-card--catalog:hover .card-filter__hover {
    display: block;
}

.product-card--catalog:hover .recommend-wrapper__hover {
    display: block;
}

.product-card--catalog:hover .product-card--sale::before {
    display: none;
}

.product-card--catalog:hover .product-card--sale__week::before {
    display: none;
}

.product-card--catalog:hover .rating-star {
    display: none;
}

.product-card--catalog:hover .product-card__hover .card-filter__buttons {
    margin-top: 16px;
}

.product-card--catalog:hover .product-card__hover .recommend-wrapper__hover {
    margin-top: 12px;
}

.product-card--catalog:hover .product-card__hover .grind-filter .jq-checkbox {
    width: 107px !important;
}

.product-card--catalog:hover .product-card__hover .rating-star__rating {
    margin-left: 10px;
    margin-right: 3px;
    padding-top: 0;
}

.catalog-product__item.catalog-product__item--list .product-card--catalog:hover .product-card--sale::before {
    display: block;
}

.catalog-product__item.catalog-product__item--list .product-card__hover {
    display: none;
}

.product-card__hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 280px;
    background-color: #fff;
    opacity: 0;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    padding: 24px 24px;
    text-align: left;
    transition:all linear 0.3s ;
    -webkit-transition: all linear 0.3s;
}

.catalog-product__item.catalog-product__item--list {
    width: 100%;
    background-color: #FBF7EF;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
}

.product-card--catalog.product-card--none .product-card__hover {
    display: none;
}

.catalog-product__item.catalog-product__item--list .product-card__item  {
    border: none;
    width: 540px;
    min-height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.catalog-product__item.catalog-product__item--list .product-card--catalog {
     margin: 0;
     width: 100%;
     display: flex;
     flex-direction: row;
}

.catalog-product__item.catalog-product__item--list .product-card--sale::before  {
    color: #FF8400;
    border: 1px solid #FF8400;
    background-color: #fff;
    left: 9px;
}


.catalog-product__item.catalog-product__item--list .rating-star {
    display: none;
}

.catalog-product__item.catalog-product__item--list .rating-coffee {
    margin-bottom: 0;
    width: 250px;
}
.catalog-product__item.catalog-product__item--list .rating-coffee .name-rating__item {
    margin-bottom: 11px;
}
        
.catalog-product__item.catalog-product__item--list .product-card__price {
    display: none;
}

.catalog-product__item.catalog-product__item--list .product-card__title{
     white-space:normal; 
}

.catalog-product__item.catalog-product__item--list .sale {
    display: none;
}

.catalog-product__item.catalog-product__item--list .rating-star__rating {
    padding-top: 0;
    padding-left: 5px;
}

.catalog-product__item.catalog-product__item--list .product-card--catalog:hover .product-card--sale__week::before {
    display: block;
}

.catalog-product__item.catalog-product__item--list .product-card--catalog .product-img {
    display: flex;
    text-align: left;
}

.catalog-product__item.catalog-product__item--list  .card-title__wrapper {
    margin-top: 35px;
    margin-left: 20px;
}

.catalog-product__item.catalog-product__item--list .product-card--catalog .product-img .product-card__title {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.catalog-product__item.catalog-product__item--list .product-card--catalog .product-card__subtitle {
    display: block;
}

.catalog-product__item.catalog-product__item--list .recommend-wrapper {
    display: block;
}

.catalog-product__item.catalog-product__item--list .catalog-product__card-info {
    display: flex;
    align-items: flex-end;
}

.catalog-product__item.catalog-product__item--list .product-card__rating {
    display: block;
    display: flex;
    align-items: flex-start;
}


.product-card__rating {
    display: none;
}

.card-list__rating {
    display: flex;
}

.card-list__rating-item + .card-list__rating-item {
    margin-left: 4px;
}

.star {
    width: 14px;
    height: 14px;
}

.star-none {
    opacity: 0.5;
}

.recommend-wrapper {
    display: none;
}

.recomend-title {
    font-size: 14px;
    line-height: 19px;
    color: #939393;
}

.card-filter {
    display: none;
}

.catalog-product__item.catalog-product__item--list .card-filter {
    display: block;
    width: 270px;
    padding: 0px 24px 33px 0px;
}


.grind-filter .сard-filter__content-box {
    position: relative;
    height: 25px;
    width: 63px;
    color: #C4C4C4;
}

.grind-filter .jq-checkbox {
    width: 114px;
    height: 36px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin: 0 0 4px 0;
} 

.grind-filter .jq-checkbox.focused {
    border: 1px solid #D9D9D9;
}

.grind-filter {
    position: relative;
}

.card-filter__buttons {
    margin-top: 25px;
}

.grind__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8px;
}

.сard-filter__content-box {
    margin-bottom: 4px;
}

.grind__filter-text {
    position: absolute;
    top: -3px;
    left: 50%;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    color: #1D2620;
    white-space: nowrap;
    cursor: pointer;
}

.size__filter-text {
    position: absolute;
    top: -11px;
    left: 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #1D2620;
    cursor: pointer;
}

.price__filter-text {
    position: absolute;
    top: -11px;
    right: 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #1D2620;
    cursor: pointer;
}

.grind-filter .jq-checkbox:hover {
    background: #fff;
    border: 1px solid #C6C6C6;
}

.grind-filter .jq-checkbox.checked {
    border: 1px solid #DDA63C;
    background: #F7EFDE;
}

.grind-filter .jq-checkbox.checked .jq-checkbox__div {
    display: none;
}

.card-filter__item {
    display: flex;
    justify-content: space-between;
}

.card-filter__item {
    margin-top: 15px;
}

.card__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1D2620;
}

.card-basket__button {
    padding: 10px 20px;
    color: #fff;
    background: #DDA63C;
    border-radius: 4px;
    border:none;
    outline: none;
    cursor: pointer;
    transition: all .3s;

        &:hover {
            background: #CC9324;  
        }

        &:active {
            background: #AD7D1F;
        }
}

.card-favorite__btn {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #939393;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.favorite {
    width: 20px;
    height: 18px;
    fill: #c0bdbd;
}

.card-favorite__btn.card-favorite--active .favorite {
    fill: $yellow ; 
}

.more-details__item {
    padding: 9px 50px;
    background: #FFFFFF;
    border: 1px solid #939393;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #4B4B4B;
}

.reccomend-list {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;


         &__item {
             text-align: center;
            width: 52px;
            height: 52px;
            border:  1px solid #E3E3E3;
            margin: 0 8px 8px 0;
            padding-top: 5px;
            position: relative;

                &:hover::before{
                    content: "Кофе-машина";
                    position: absolute;
                    left: 0;
                    top: -35px;
                    z-index: 2;
                    background-color: #342509c9;
                    border-radius: 4px;
                    padding: 6px 10px;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    white-space: nowrap;
                }

            &:nth-child(2):hover:before {
                content: "Мока";
            }

            &:nth-child(3):hover:before {
                content: "Френч-пресс";
            }

            &:nth-child(4):hover:before {
                content: "Кемекс";
            }

            &:nth-child(5):hover:before {
                content: "Турка";
            }

            &:nth-child(6):hover:before {
                content: "Пуровер";
            }

            &:nth-child(7):hover:before {
                content: "Аэропресс";
            }

            &:nth-child(8):hover:before {
                content: "Эспрессо";
            }
            
        }
}

.product-card__subtitle {
    font-size: 14px;
    line-height: 19px;
    color: #4B4B4B;
    display: none;
}


.category-list__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1D2620;
    margin-left: 5px;
}

.category-list__sub-item {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.sorting  {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.product-card--catalog {
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 20px;
    position: relative;
}

.catalog-filter__btn {
    display: flex;
    align-items: center;
}

.catalog-filter__button {
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
    fill:#D7D7D7;
    padding: 0;

        &--active {
            fill:$yellow;
            stroke: $yellow;
        }
}


.button-list {
    width: 24px;
    height: 24px;
}

.sorting-mobile {
    display: none;
}

.sorting-mobile  .jq-radio {
    vertical-align: -4px;
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    cursor: pointer;
    border-radius: 100%;
}

.sorting-mobile .jq-checkbox.checked, .jq-radio.checked {
    background: #fff;
    border: 1px solid $yellow;
}

.sorting-mobile .jq-radio.checked {
    background: #fff;
    border: 1px solid $yellow;
}

.sorting-mobile .jq-radio.checked .jq-radio__div {
    width: 12px;
    height: 12px;
    margin: 3px 0 0 3px;
    border-radius: 50%;
    background: $yellow;
    box-shadow: none; 
}

.sorting .jq-selectbox__select {
    height: 32px;
    padding: 0 45px 0 10px;
     border: none;
     border-bottom-color: none;
     border-radius: 4px; 
     background: none; 
     box-shadow: none; 
     font-family: 'Manrope', sans-serif;
     font-size: 16px;
    line-height: 24px;
     font-weight: 400;
    color: #333;
    text-shadow: none;
}

.sorting .jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: #FFF;
    box-shadow: none;
    font: 14px/18px Arial, sans-serif;
}

.sorting .jq-selectbox__trigger-arrow {
    position: absolute;
    background-image: url("../img/icons/arrow_down-select.png");
    top: 7px;
    right: 12px;
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    border-left: none;
    transform: rotate(0deg);
}

.sorting .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    border-left: 1px none;
}

.sorting .jq-selectbox .jqselect .dropdown .opened .jq-selectbox__trigger-arrow {
    border-top-color:none;
    transform: rotate(180deg);
}

.sorting .jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.sorting .jq-selectbox li.selected {
    background-color: transparent;
    color: #4B4B4B;
}

.sorting .jq-selectbox li:hover {
    background-color: #FBF7EF;
    color: #4B4B4B;
}

.less-filters {
    display: inline-flex;
    display: none;
    align-items: center;
        & span {
            font-size: 14px;
            line-height: 20px;
            color: #1D2620;
            font-weight: 700;
        }
}

.filter-button__config  {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.filter-drop {
    position: relative;
    
    cursor: pointer;
}

.filter-button {
    display: block;
    position: absolute;
    top: 11px;
    right: 2px;
    z-index: 1;
    font-size: 0;
    transition: all .5s;
}

.filter-drop.active .mobile-button__toggle--active.filter-button::after {
 
    background-color: rgb(0, 0, 0);
    transition: all .5s;
    transform-origin: top;
    transform: rotate(359deg) translateY(0px) translateX(0px);
  
}

.filter-button::before {
    content: "";
    position: absolute;
    right: 0;
    width: 18px;
    height: 2px;
    background-color: rgb(10, 10, 10);
    transition: all .5s;
}

.filter-button::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 8px;
    width: 2px;
    height: 18px;
    transform: rotate(0deg) translateY(0px) translateX(0px);
    transition: all .5s;
}

.aisde-filer__item {
    margin-bottom: 40px;
}

.filter-header {
    display: none;
    height: 48px;
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.22);
    margin-bottom: 30px;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            color: #1D2620;
            font-weight: 700;
        }

        &__btn {
            background: transparent;
            border: none;
            padding: 0;
        }
}


.filter-dropdown {
    display: block;
    margin-top: 20px;
}

.aside-filter__content-box {
    margin-bottom: 10px;
}

.aside-filter__content-label {
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

.jq-checkbox, .jq-radio {
    vertical-align: -4px;
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 ;
    cursor: pointer;
}
.jq-checkbox.checked, .jq-radio.checked {
    background: #DDA63C;
    border: none; 
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 11px;
    height: 8px;
    margin: 4px 0 0 4px;
    border-bottom: none;
    border-left: none;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    background-image: url("../img/icons/cheked.svg");
}

.jq-checkbox.focused, .jq-radio.focused {
    border: none;
}

.filter-more__btn {
    font-size: 14px;
    line-height: 20px;
    color: #DDA63C;
    border: none;
    background: none;
    position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 11px;
            right: -7px;
            z-index: 1;
            background: url("../img/icons/arrow_down.png");
            width: 7px;
            height: 4px;
        }
}

.filter-search {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #939393;

}

.filter-search__button {
    position: absolute;
    top: -5px;
    left: 2px;
    background-image: url("../img/icons/search_filter.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.jq-number {
    padding: 0;
}

.jq-number__spin {
    display: none;
}

.filter-price__inputs {
    display: flex;
    justify-content: space-between;
}

.filter-price__label {
    display: flex;
    align-items: center;
    border: 1px solid #D8DADC;
    padding: 0 10px;
}

.price .jq-number__field input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 9px;
    border: none;
    outline: none;
    background: none;
    font: 14px Arial, sans-serif;
    color: #333;
}

.price .jq-number__field {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.price .jq-number.focused .jq-number__field {
    border: none;
}

.filters-price__input {
    border: none;
}

.filter-name__rating-list {
    width: 94%;
}

.simple-rating {
    position: relative;
    display: inline-block;
}

.simple-rating__items {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    
}

.simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    
}

.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    margin-left: 8px;
}


.simple-rating__item:checked .jq-checkbox.checked, .jq-radio.checked,
.simple-rating__item:checked .jq-checkbox.checked, .jq-radio.checked ~ .simple-rating__label .corn  {
    fill-opacity: 1;
}


.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label .corn {
    fill-opacity: 1;
}


.corn {
    width: 16px;
    height: 16px;
    fill-opacity: 0.5;
}

.corn:hover {
    fill-opacity: 1;
}

.rating-name {
    font-size: 14px;
    line-height: 20px;
    color: #4B4B4B;
}

.btn-cheked .aside-filter__content {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn-cheked .aside-filter__content-box {
    width: auto;
}

.btn-cheked .aside-filter__content-label {
    position: relative;
    height: 25px;
    width: 63px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    font-weight: bold;
    color: #C4C4C4;
}

.btn-cheked .jq-checkbox {
    height: 50px;
    width: 100%;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.btn-cheked .jq-checkbox:hover {
    background: none;
    border: 1px solid  #C6C6C6;
}

.btn-cheked .jq-checkbox.checked {
    border: 1px solid $yellow;
    background-color: #F7EFDE;
}

.btn-cheked .jq-checkbox.checked .jq-checkbox__div {
    display: none;
}

.btn__cheked-text {
    position: absolute;
    top: -18px;
    left: 57px;
    z-index: 5;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B4B4B;
}

.btn__cheked-img {
    position: absolute;
    top: -29px;
    left: 10px;
    z-index: 1;
}

.noUi-target {
    background: #F1E6D0;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    height: 4px;
    width: 96%;
    margin-left: 6px;
}


.noUi-connect {
    background: #F1E6D0;
    border-radius: 1px;
    height: 4px;
}

.noUi-handle::after, .noUi-handle::before {
    display: none;
}

.noUi-handle {
    box-shadow: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #D8DADC;
    outline: none;
    cursor: pointer;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -8px;
    top: -8px;
}

.filter-price__slider {
    margin-bottom: 12px;
   
}


.pagination {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 80px;
    background: #FBF7EF;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-end;
   

        &-list {
            display: flex;
            align-items: center;
            margin-right: 40px;

                &__item {
                    padding: 10px 17px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;

                    &:hover {
                        background-color: #F7EFDE;
                    }

                    &:nth-child(1) a {
                        height: 20px;
                    }

                    &:nth-child(7) a {
                        height: 20px;
                    }

                    &--active {
                        background: #DDA63C;
                        border-radius: 4px;
                        color: #fff;

                        &:hover {
                            background: #DDA63C;
                        }
                    }
                }
        }
}



.filter-btn__send {
    display: none;
    padding: 10px 63px;
    background: #DDA63C;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}


.more-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D2620;
    margin-right: 40px;
    transition: all .2s;
        &:hover {
            color: #CC9324;
        }
}

.load-more {
    position: absolute;
    background: #F7EFDE;
    border-radius: 4px; 
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D2620;
    text-align: center;
    top: -64px;
    width: 100%;
    padding: 14px 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

