
@media (max-width: 1300px) {
    .about--title {
        margin-bottom: 30px;
    }

    .about--text {
        margin-bottom: 20px;
    }

    .side-bar__black {
        min-width: 200px;
    }

    .clients {
        padding: 50px 70px;
    }
   
}


@media (max-width: 1200px) {
    .about--title {
        margin-bottom: 10px;
    }

    .about--text {
        margin-bottom: 10px;
    }

    .side-bar__black {
        min-width: 160px;
    }

    .modal-content__info--about {
        padding-right: 0px;
        margin-right: 0;
        width: 50%;
    }

    .modal-content__text--about {
        padding-right: 25px;
    }

    .carusel-wrapper {
        margin-left: 50px
    }
}


@media (max-width: 1100px) {
    .page {
        flex-direction: column;
    }

    .side-bar__right {
        padding: 25px 10px;
    }

    .side-bar__left {
        flex-direction: row;
        padding: 25px 10px;
        height: 0;
    }

    .menu {
        margin-top: 0;
        margin-left: 0;
    }

    .social-icons {
        margin-bottom: 0;
    }

    .title {   
        position: absolute;
         top: 91%; 
        left: 50%;
        right: 0;
        transform: rotate(0deg);
        font-size: 47px;
        font-weight: 800;
        z-index: 10;

    }
    
    .subtitle {
        left: 38%;
        right: 0;
        bottom: -58%;
        z-index: 10;
        transform: rotate(0deg);
    }

    .logo {
        display: none;
    }

    .pagination { 
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 0;
    }

    .bullets-list {
        display: flex;
        flex-direction: row;
    }

    .bullets-list__item + .bullets-list__item{
        margin-left: 20px;
    }

    .main__img {
        height: 100vh;
    }

    .logo-header {
        display: block;
        transform: rotate(0deg);
        margin-top: 0;
    }

    .social-icons__list { 
        display: none;
    }

    .menu__slash {
        display: none;
    }

    .page-second {
        flex-direction: column;
    }

    .side-bar__right--black {
        flex-direction: row;
        height: 0;
        padding: 25px 10px;
    }

    .side-bar__black {
        flex-direction: row;
        padding: 25px 10px;
    }

    .main--about {
        padding: 0 10px;
    }

    .maing__inner-content {
        padding-left: 30px;
    }

    .modal4-wrapper {
        width: 100%;
        margin-right: 0px;
        flex-direction: column;
    }

    .slider-tabs .slick-list {
        height: 50px !important;
    }

    .slider-tabs .slick-track {
        flex-direction: row;
        align-items: center;
    }

    .slider-tabs .slick-slide {
        text-align: center;
        margin: 0px 60px;
    }

    .slider-tabs__prev {
        right: 50%;
    }

    .slider-tabs__next {
        left: 50%;
    }

    .slash-sliders::before {
        display: none;
    }

    .slider-tabs__btn {
        bottom: -90px;
    }

    .partners__content {
        margin-top: 90px;
    }

    .modal-content__text--partners {
        max-width: 100%;
    }
}

@media (max-width: 932px) {
    .modal-content__img {
        display: none;
    }

    .modal-content__info--about {
        width: 100%;
        padding-left: 10px;
        padding-top: 75px;
    }

    .modal-content__text--about {
        max-width: 100%;
     }

     .button-wrapper {
         margin-top: 20px;
     }

     .button-wrapper__text {
         margin-right: 10px;
     }

     .wrapper--partners {
         margin-left: 0;
     }

     .main__inner-four {
        flex-direction: column-reverse;
        align-items: center;
     }
     
     .client-wrapper {
         width: 80%;
         height: 40vh;
         align-items: center;
     }

     .clients-slider__item {
         padding: 15px 0px;
     }

     .four--content {
         padding-top: 0;
         padding-left: 0;
         margin-top: 0;
         margin-bottom: 40px;
     }

    .client--title {
        margin-bottom: 20px;
    }

    .client--text {
        margin-bottom: 10px;
    }

      .main__inner {
        position: relative;
    }

    .main__inner-social {
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .contact-wrapper {
        margin-top: 0;
    }

    .wrapper--five {
        justify-content:center;
    }

    .social-link {
        
        color: #3e3e40;
    }

    .modal5-wrapper {
        flex-direction: column;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .follow-container{
        width: 100%;
    }

    .contacts-container {
        width: 100%;
        margin-right: 0;
    }

    .contact-wrapper__modal {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .contacts {
        margin-bottom: 60px;
    }
}

@media (max-width: 870px) {
    .about-inner {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .about--inner__img {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .about--content {
        text-align: center;
        width: 100%;
        padding-left: 0;
        padding: 0 10px;
    }

    .about--text {
        max-width: 100%;
        padding-left: 0;
    }

    .about--title {
        margin-bottom: 15px;
    }

    .about--btn {
        justify-content: center;
    }

    
}

@media (max-width: 800px) {

  
}


@media (max-width: 768px) {
    .modal__btn {
        margin-top: 20px;
        margin-left: 75px;
    }

    .menu__list {
        margin-top: 60px;
        margin-left: 100px;
    }
}

@media (max-width: 640px) {
    .about--title {
        font-size: 36px;
    }

    .client {
        height: 70px;
    }

    .client--title {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .clients-slider .slider-clients__btn {
        position: absolute;
        bottom: -20px;
        color: #cf3249;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        outline: none;
    }

    .slider-clients__prev {
        right: 70px;
    }

    
    .slider-clients__next {
        left: 70px;
    }


    .clients-slider .slick-slider.slick-initialized{
        width: 100%;
    }

     .clients-slider .slick-list {
        overflow: hidden;
        
    }

    .clients-slider .slick-track{
        display: flex;
    }

    .clients-slider {
        min-width: 0;
        text-align: center;
        position: relative;
    }

    .clients-slider__item {
        padding: 0; 
    }

    .modal-content__text--partners {
       padding-right: 20px;
    }

    .slider-tabs .slick-slide {
        margin: 0px 145px;
    }
    .carusel-wrapper {
        margin-left: 0px;
    }

    .partners__content {
        margin-left: 10px;
    }

    .contact--title {
        font-size: 36px;
        margin-bottom: 15px;
    }
}


@media (max-width: 480px) {
    .modal-content__text--about {
        padding-left: 10px;
    }

    .contact-wrapper__modal {
      width: 90%;
    }

    .contacts {
        width: 90%;
    }

    .main__inner-title {
        font-size: 35px;
        margin-bottom: 24px;
    }

    .social--link {
        font-size: 29px;
    }

    .menu-list__link {
        font-size: 35px;
    }

    .menu__list {
        margin-top: 19px;
        margin-left: 28px;
    }
}

@media (max-width: 414px) {
    .about__modal--title {
        font-size: 40px;
        margin-bottom: 45px;
    }

    .modal-content__title--partners {
        font-size: 28px;
    }

    .button-wrapper__modal-btn {
        margin-right: 10px;
    }

    .carusel-wrapper {
        margin-top: 80px
    }

    .slider-tabs__btn {
        bottom: -40px;
        padding-bottom: 0;
    }

    .partners__content {
        margin-top: 50px;
    }

    .btn-wrapper {
        height: 80px;
    }

    .btn--contact {
        padding-top: 25px;
    }
}

@media (max-width: 375px) {
    .about__modal--title {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .modal-content__text--partners {
        padding-left: 0;
    }
}

