.footer {
    padding: 30px 0;
    background-color: $green;
    border-radius: 50px 50px 0 0;

        &-inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 55px;
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            line-height: 24px;
            color: $white;
                &__item {
                    display: flex;
                    align-items: center;
                }
        }
}

.section__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $white;
    padding-bottom: 40px;
}

.contacts-item {
    padding-bottom: 27px;
    &__title {
        font-size: 12px;
        line-height: 16px;
        color: $white;
        opacity: 0.5;
    }

    &__link {
        font-size: 24px;
        line-height: 32px;
        color: $white;
    }
}

.hours {
    font-size: 16px;
    line-height: 24px;
    color: $white;
}

.catalog {
    width: 450px;
        &-item {
            display: flex;
            flex-direction: column;
        }
}

.catalog-link__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: $white;
    padding-bottom: 16px;
}

.catalog-list {
    padding-bottom: 15px;

    &__item {
        font-size: 16px;
        line-height: 24px;
        color: $white;
        margin-bottom: 7px;
    }
}

.info {
    margin-right: 50px;
}

.copyrigth {
    margin-left: 50px;
}

.testt {
    display: flex;
    justify-content: space-between;
}

.footer-toggle {
    display: block;
}

.toggle-button {
    width: 100%;
    position: relative;
    display: flex;
}

.footer-button {
    display: none;
}