.product {
    padding-bottom: 100px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    position: relative;
    margin-right: 20px;

        &__item {
            min-height: 430px;
            padding: 10px 24px 20px 24px;
            background-color: #FBF7EF;
            border: 1px solid #E3E3E3;
            border-radius: 4px;
        }
}

.section-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    z-index: 2;
}

.product--title {
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 123px;
        height: 15px;
        background-color: #F1E6D0;
        opacity: 0.8;
    }
}

.product-img {
    text-align: center;
    padding-bottom: 8px;
}

.product-card__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 32px;
    white-space: nowrap;
}

.rating-coffee {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.name-rating__list {
    width: 100%;
}

.name-rating__item {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-card__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}

.product-card--sale {
    &::before {
        content: "Хит";
        position: absolute;
        top: -7px;
        left: 9px;
        z-index: 1;
        width: 45px;
        height: 28px;
        background-color:#EEAD68; ;
        border-radius: 4px;
        text-align: center;
        color: $white;
        font-size: 14px;
        line-height: 16px;
        padding: 5px 10px;;
    }

    &__week {
        &::before {
            content: "Скидка недели";
            position: absolute;
            top: -7px;
            left: 9px;
            z-index: 1;
            width: 110px;
            height: 28px;
            background-color:#E95454;
            border-radius: 4px;
            text-align: center;
            color: $white;
            font-size: 12px;
            line-height: 16px;
            padding: 6px 12px;
        }
    }
}

.product-card__item.product-card--sale__week {
    border: 1px solid #E95454;
}

.rating-star {
    position: absolute;
    top: -7px;
    right: 9px;
    z-index: 1;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 42px;
    height: 72px;
    align-items: center;
    padding-top: 8px;

        &__img {
            display: block;
            width: 20px;
            height: 20px;
        }

        &__rating {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #1D2620;
            padding-top: 4px;
        }

        &__reviews {
            color: #939393;
            font-size: 12px;
            line-height: 16px;
        }
}

.rating-corn {
    width: 16px;
    height: 16px;
    margin-left: 5px;

}

.rating-cor__none {
    opacity: 0.3;
}



.product-card__config {
    position: absolute;
    bottom: 15px;
    right: 24px;
    z-index: 1;
    background: url("/img/products/config-btn.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.sale {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    display: none;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #E95454;
    font-weight: 700;
}

.product-slider {
    padding-bottom: 80px;
}

.product-slider .slick-track {
    top: 7px;
    height: 100%;
    min-height: 450px;
}

.product-card.prudct--sale .product-card__config {
    display: none;
}

.product-card.prudct--sale .sale {
    display: block;
}

.product-slider .slick-slide img {
    display: inline;
}

.product-slider__btn {
    position: absolute;
    bottom: 0;
    left: 59%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
}

.product-slider__btn-prev {
    left: 41%;
}

.product-slider__btn-next {
    right: 50%;
}

.product-slider .slick-dots {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.product-slider .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #E6E6E6;
    border-radius: 50%;
    margin: 0 5px;
    outline: none;
    border: none;
}

.product-slider .slick-dots li.slick-active button {
    background-color: #38925D;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
}
